@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.blob {
    background: conic-gradient(from 2.35rad,#c76000,rgba(7,29,228,.5));
    z-index: -2;
}
::-webkit-scrollbar{
    display: none;
}